.sideBar{
    left: 0;
    bottom: 0;
    width: 200px;
    height: 95vh;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.city-button {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-primary{
    width: 100% !important;
    height:100%  !important;
    background: rgba(255,255,255,0.6) !important;
    color: black !important;
    font-weight: 600;
    border: green!important;
}

.btn-primary:hover{
    background: rgba(255,255,255,0.9) !important;
}